@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-shadow: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    color: hsl(229, 6%, 66%);
    background-color: hsl(0, 0%, 98%);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 40px;
    min-height: 120vh;
    position: relative;
}

.header {
    text-align: center;
    margin: 40px 20px 40px 20px;
}

.title {
    font-size: 2.5rem;
    line-height: 1.4;
    font-weight: 200;
    color: hsl(234, 12%, 34%);
    font-size: 40px;
}

.bold_title {
    font-size: 2.5rem;
    line-height: 1.4;
    font-weight: bold;
    color: hsl(234, 12%, 34%);
    font-size: 40px;
}

.description {
    color: hsl(229, 6%, 66%);
    font-size: 16px;
    padding: 24px 0 0;
    width: 60%;
    margin: 0 auto;
}

.card_column {
    display: flex;
    justify-content: space-between;
    gap: 1.7em;
    margin: 10em 2em 3.5em 2em;
    width: 90%;
    height: auto;
    margin-top: 10rem;
}

.card_row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.7em;
    margin: 2em 2em 3.5em 2em;
    position: absolute;
    top: 30%;
    height: auto;
}

.card {
    padding: 1.5em 2em 7.7em 2em;
    border-radius: 5px;
    box-shadow: 0 7px 18px rgba(97, 98, 158, 0.3);
    position: relative;
    transform: translateY(-20px);
    height: 100px;
    width: 310px;
}


.cyan {
    border-top: 4px solid hsl(180, 62%, 55%);
}

.red {
    border-top: 4px solid hsl(0, 78%, 62%);
}

.orange {
    border-top: 4px solid hsl(34, 97%, 64%);
}

.blue {
    border-top: 4px solid hsl(212, 86%, 64%);
}

.card_title {
    color: hsl(234, 12%, 34%);
    font-size: 1.2rem;
    line-height: 2;
}

.card_description {
    color: hsl(229, 6%, 66%);
    font-size: .8rem;
    line-height: 1.7;
}

.card_img {
    position: absolute;
    right: 1.8em;
    bottom: 1.8em;
}

.attribution {
    text-align: center;
    font-size: 12px;
    color: #111;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.attribution a {
    color: red;
}